<template name="TodosList">
  <div class="todos-panel">
      {{> CreateTodoItem}}

      <ul class="todos-list">
          {{#each todos}}
              <li class="todo-item {{isDoneClass}}">
                  {{> TodoItem}}
              </li>
          {{else}}
              <li class="todo-item empty">
                  No todos yet.
              </li>
          {{/each}}
      </ul>

      {{> TodosCount}}
  </div>
</template>


