<template name="MasterLayout">
    <div class="container">
        <div class="row">
            <div class="login">
                {{> loginButtons}}
            </div>
        </div>

        <div class="row">
            <ul class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                    <span class="divider">/</span>
                </li>
                {{> yield "breadcrumbs"}}
            </ul>

        </div>

        <div class="row">
            {{> yield}}
        </div>
    </div>
</template>
