<template name="TodoItem">
    <div class="done">
        <input type="checkbox" name="isDone" {{isDoneChecked}}/>
    </div>
    
    <div class="subject">
        {{subject}}
    </div>
    
    <div class="action">
    
    </div>
    
</template>
